In [1]:
import os
import sys

# Init project path
PROJECT_DIR = os.getcwd() + "/../"
sys.path.insert(0, PROJECT_DIR)
%load_ext autoreload
%autoreload 2

In [4]:
from db import table_load
result = table_load("cv_result_1")
train = table_load("cv_train_1")
test = table_load("cv_test_1")

In [12]:
import pandas as pd
pd.concat([result, test], axis=1)

,level_0,predicted,real,difference,difference_abs,passenger_id,sib_sp,parch,ticket,fare,...,is_miss,is_mrs,name_titles,is_master,sex,sex_int,age,age_null_filled_with_mode,embarked,embarked_null_filled_with_mode
index,,,,,,,,,,,,,,,,,,,,,
6,0,0.236623,0,0.236623,0.236623,7,0,0,17463,51.8625,...,0,0,Mr,0,male,1,54.0,54,S,S
8,1,0.293294,1,-0.706706,0.706706,9,0,2,347742,11.1333,...,0,1,Mrs,0,female,0,27.0,27,S,S
12,2,0.194293,0,0.194293,0.194293,13,0,0,A/5. 2151,8.0500,...,0,0,Mr,0,male,1,20.0,20,S,S
30,3,0.199266,0,0.199266,0.199266,31,0,0,PC 17601,27.7208,...,0,0,Don,0,male,1,40.0,40,C,C
32,4,0.721785,1,-0.278215,0.278215,33,0,0,335677,7.7500,...,1,0,Miss,0,female,0,NaN,24,Q,Q
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
865,174,0.830103,1,-0.169897,0.169897,866,0,0,236852,13.0000,...,0,1,Mrs,0,female,0,42.0,42,S,S
867,175,0.418356,0,0.418356,0.418356,868,0,0,PC 17590,50.4958,...,0,0,Mr,0,male,1,31.0,31,S,S
872,176,0.006362,0,0.006362,0.006362,873,0,0,695,5.0000,...,0,0,Mr,0,male,1,33.0,33,S,S
874,177,0.851549,1,-0.148451,0.148451,875,1,0,P/PP 3381,24.0000,...,0,1,Mrs,0,female,0,28.0,28,C,C
890,178,0.132144,0,0.132144,0.132144,891,0,0,370376,7.7500,...,0,0,Mr,0,male,1,32.0,32,Q,Q