In [2]:
import os
import sys

# Init project path
PROJECT_DIR = os.getcwd() + "/../"
sys.path.insert(0, PROJECT_DIR)
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
from db import table_load
train = table_load("train")

In [17]:
import seaborn as sns
import matplotlib.pyplot as plt
for pclass in train["pclass"].unique():
    print("pclass: ", pclass)
    display(train[train.pclass==pclass]["survived"].value_counts())

pclass:  3

0    372
1    119
Name: survived, dtype: int64

pclass:  1

1    136
0     80
Name: survived, dtype: int64

pclass:  2

0    97
1    87
Name: survived, dtype: int64

In [11]:
train

,passenger_id,survived,pclass,name,sib_sp,parch,ticket,fare,cabin,sex,sex_int,age,age_null_filled_with_mode,embarked,embarked_null_filled_with_mode
index,,,,,,,,,,,,,,,
0,1,0,3,"Braund, Mr. Owen Harris",1,0,A/5 21171,7.2500,None,male,1,22.0,22,S,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,PC 17599,71.2833,C85,female,0,38.0,38,C,C
2,3,1,3,"Heikkinen, Miss. Laina",0,0,STON/O2. 3101282,7.9250,None,female,0,26.0,26,S,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,113803,53.1000,C123,female,0,35.0,35,S,S
4,5,0,3,"Allen, Mr. William Henry",0,0,373450,8.0500,None,male,1,35.0,35,S,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,0,211536,13.0000,None,male,1,27.0,27,S,S
887,888,1,1,"Graham, Miss. Margaret Edith",0,0,112053,30.0000,B42,female,0,19.0,19,S,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,2,W./C. 6607,23.4500,None,female,0,NaN,24,S,S
889,890,1,1,"Behr, Mr. Karl Howell",0,0,111369,30.0000,C148,male,1,26.0,26,C,C
890,891,0,3,"Dooley, Mr. Patrick",0,0,370376,7.7500,None,male,1,32.0,32,Q,Q